.foto {
  width: 354px;
  height: 462px;
  left: 897px;
  top: 253px;
  position: absolute;
  background-color: rgba(196, 196, 196, 1);
  border-radius: 31px;
}

.titulo {
  left: 297px;
  top: 150px;
  position: absolute;
  font-size: 64px;
  line-height: 100%;
  font-family: DM Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 83px;
  letter-spacing: 0px;
  text-align: left;
}
.titulo2 {
  left: 480px;
  top: 150px;
  position: absolute;
  font-size: 64px;
  line-height: 100%;
  font-family: DM Sans;
  font-size: 64px;
  font-weight: 400;
  line-height: 83px;
  letter-spacing: 0px;
  text-align: left;
}
.desc {
  left: 288px;
  top: 289px;
  position: absolute;
  font-size: 36px;
  line-height: 100%;
  color: black;
}
.sidebar {
  width: 261px;
  height: 185px;
  left: 0px;
  top: 325px;
  position: absolute;
}
.cuadro {
  width: 261px;
  height: 185px;
  background-color: rgba(242, 106, 141, 1);
  border-radius: 23px;
  position: relative;
}
.presentacionmayus {
  left: 37px;
  top: 14px;
  position: absolute;
  font-size: 24px;
  line-height: 100%;
  color: white;
}
.HEADER {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 64px;
  font-weight: 400;
  line-height: 77px;
  letter-spacing: 0px;
  text-align: left;
}
